@model IEnumerable<Cloud_computing_project_LAST.Models.Weather>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/assets/css/stylecafe.css" rel="stylesheet" />
    <style>
        body {
            background-color: black
        }

        .custom-link {
            color: white; /* Set the text color to white */
            text-decoration: none; /* Remove underline */
        }

            .custom-link:hover {
                color: #C7A17A; /* Change the text color to blue on hover */
            }
    </style>
</head>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<body class="dark-bg">
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="/assets/images/bg/breadcrumb-bg1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Wheather statistics</h2>
                   @* <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Manage Product</span>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeelsLike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Main)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeelsLike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Main)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
</body>