@model IEnumerable<Cloud_computing_project_LAST.Models.UserInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/assets/css/stylecafe.css" rel="stylesheet" />
    <style>
        body {
            background-color: black
        }

        .custom-link {
            color: white; /* Set the text color to white */
            text-decoration: none; /* Remove underline */
        }

            .custom-link:hover {
                color: #C7A17A; /* Change the text color to blue on hover */
            }
    </style>
</head>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<body class="dark-bg">
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="/assets/images/bg/breadcrumb-bg1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Users Informations</h2>
                    @* <div class="cafena-breadcrumb breadcrumbs">
                    <ul class="list-unstyled d-flex align-items-center justify-content-center">
                    <li class="cafenabcrumb-item duxinbcrumb-end">
                    <span>Manage Product</span>
                    </li>
                    </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIPCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIPCode)
            </td>
       
        </tr>
}
    </tbody>
</table>
</body>