@model IEnumerable<Cloud_computing_project_LAST.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/assets/css/stylecafe.css" rel="stylesheet" />
    <style>
        body {
            background-color: black
        }

        .custom-link {
            color: white; /* Set the text color to white */
            text-decoration: none; /* Remove underline */
        }

            .custom-link:hover {
                color: #C7A17A; /* Change the text color to blue on hover */
            }
    </style>
</head>
<!-- breadcrumb area start -->
<section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="/assets/images/bg/breadcrumb-bg1.jpeg" data-overlay="dark" data-opacity="5">
    <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
    <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="page-title">PRODUCTS</h2>
                <div class="cafena-breadcrumb breadcrumbs">
                    <ul class="list-unstyled d-flex align-items-center justify-content-center">
                        <li class="cafenabcrumb-item duxinbcrumb-end">
                            <span>List of products</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
<div class="from-group mt-15">
<p>
        <a asp-action="Create" class="site-btn">Create New</a>
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="custom-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="custom-link" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="custom-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
