@model IEnumerable<Cloud_computing_project_LAST.Models.Product>
@inject Cloud_computing_project_LAST.Data.ApplicationDbContext DbContext


@{
    ViewData["Title"] = "ShopIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = DbContext.Product.ToList();
}

<body class=" dark-bg">
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="/assets/images/bg/breadcrumb-bg1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Cafena Product</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Product</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog area start -->
    <div class="blog-area pt-120 pb-105">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="shop-filter-wrapper d-flex justify-content-between align-items-center mb-30">
                        <div class="sf-right d-flex justify-content-end align-items-center">
                            <nav>
                                <div class="nav" id="shop-filter-tab" role="tablist">
                                    <a class="nav-link active" id="shop-tab-1-tab" data-bs-toggle="tab"
                                       href="#shop-tab-1" role="tab" aria-controls="shop-tab-1"
                                       aria-selected="true"><i class="fas fa-th"></i></a>
                                    <a class="nav-link" id="shop-tab-2-tab" data-bs-toggle="tab" href="#shop-tab-2"
                                       role="tab" aria-controls="shop-tab-2" aria-selected="false"><i class="fas fa-list-ul"></i></a>
                                </div>
                            </nav>
                            <div class="sort-wrapper ml-45">
                                <select name="select" id="select" style="color:white;background-color:black" >
                                    <option value="1">Sort By</option>
                                    <option value="2">Sort Low to High</option>
                                    <option value="3">Short High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="tab-content" id="shop-tabContent">
                        
                                <div class="tab-pane fade show mt-none-30 active" id="shop-tab-1" role="tabpanel" aria-labelledby="shop-tab-1-tab">
                                    <div class="row" id="productContainer">
                                        @foreach (var product in Model)
                                        {
                                            <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                                                <div class="pp__item pp__item--2 active text-center pt-20 pb-20" style="background-color:black">
                                                    <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                                                        <div class="cart d-flex align-items-center justify-content-center" style="background-color:black">
                                                            <a href="/CartItems/Cart" style="color:white"><i class="fal fa-shopping-basket"></i></a>
                                                        </div>
                                                        <div class="view d-flex align-items-center justify-content-center">
                                                            <button style="background-color:black" class="product-link" id="my-button" data-product-id="@product.Id">
                                                                <i class="fal fa-eye" style="color:white"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="pp__thumb pp__thumb--2 mt-35">
                                                        <img src="@product.ImageUrl" alt="" width="121" height="172">
                                                    </div>
                                                    <div class="pp__content pp__content--2 mt-25">
                                                        <div class="pp__c-top d-flex align-items-center justify-content-center">
                                                            <div class="pp__cat pp__cat--2">
                                                                <a href="#0" style="color:lightgray">-----------------</a>
                                                            </div>
                                                        </div>
                                                        <h4 class="pp__title pp__title--2">
                                                            <a href="#" class="product-link" data-product-id="@product.Id" style="color:white">@product.Name</a>

                                                        </h4>
                                                        <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                                            <h6 class="label" style="color:white">Price - </h6>
                                                            <span class="price"> $@product.Price </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                   </div>


                                <div class="tab-pane fade mt-none-30" id="shop-tab-2" role="tabpanel" aria-labelledby="shop-tab-2-tab">
                                
                                <div class="row" id="productContainerTab2">
                                        @foreach (var product in Model)
                                        {
                                            <div class="col-xl-12 mt-30">
                                                <div class="pp__item pp__item--2 text-center pt-30 pb-25" style="background-color:black">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="pp__thumb pp__thumb--2 m-0">
                                                        <img src="@product.ImageUrl" alt="" width="141" height="172">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8">
                                                            <div class="pp__content pp__content--2 m-0">
                                                                <div class="pp__c-top d-flex align-items-center">
                                                                    <div class="pp__cat pp__cat--2">
                                                                        <a href="#0" class="product-link" data-product-id="@product.Id" style="color:white; font-size:25px;">@product.Name</a>
                                                                    </div>
                                                                </div>

                                                        <h4 class="pp__title pp__title--2" style="text-align: left;">
                                                            <a href="product-details.html" style="color: gray; font-size: 13px; text-align: left;">
                                                                @product.Description
                                                            </a>
                                                        </h4>
                                                                <div class="pp__price pp__price--2 d-flex align-items-center">
                                                            <h6 class="label" style="color:white; font-size:16px">Price - </h6>
                                                            <span class="price" style="color:#C7A17A; font-size:16px"> $@product.Price</span>
                                                                </div>
                                                                <div class="pp__action pp__action--2 d-flex align-items-center mt-15">
                                                            <div class="cart d-flex align-items-center justify-content-center" style="background-color:black">
                                                                        <a href="/CartItems/Cart"><i class="fal fa-shopping-basket"></i></a>
                                                                    </div>

                                                            <div class="view d-flex align-items-center justify-content-center" style="background-color:black">
                                                                        <a href="#0" class="product-link" data-product-id="@product.Id"><i class="fal fa-eye"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>
                            </div>
                                
                             
                    </div>
                </div>
                
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('.product-link').on('click', function (e) {
                            e.preventDefault(); // Prevent the default link behavior

                            var productId = $(this).data('product-id');

                            // Redirect to the ProductDetails action with the product ID as a parameter
                            window.location.href = '/Products/ProductDetails/' + productId;
                        });
                    });
                </script>

                <div class="col-xl-4 col-lg-4">
                    <div class="blog__sidebar blog__sidebar--shop mt-none-30">
                        <div class="widget mt-30" style="background-color: black;">
                            <h2 class="title" style="color: white;">Search Here</h2>
                            <form id="searchForm" class="search-widget">
                                <input type="search" name="search" id="search" placeholder="Search Product">
                                <button type="button" onclick="searchProduct()"><i class="fal fa-search"></i></button>
                            </form>
                            <script>
                                function searchProduct() {
                                    var searchTerm = document.getElementById('search').value.toLowerCase();
                                    var items = @Html.Raw(Json.Serialize(items)); // Serialize items to JavaScript array
                                    if (searchTerm != " " || searchTerm != '')
                                   {
                                    var matchingProducts = items.filter(function (product) {
                                        return product.name.toLowerCase() == searchTerm.toLowerCase();
                                    });
                                       
                                        if (matchingProducts[0] != null)
                                            window.location.href = '/Products/ProductDetails/' + matchingProducts[0].id;
                                        else
                                           alert("This product is not exist");
                                   }
                                }
                            </script>
                        </div>
                        <div class="widget slider-range mt-30" style="background-color:black">
                            <h2 class="title" style="color:white">Price Filter</h2>
                            <div id="slider-range"></div>
                            <p class="d-flex justify-content-between align-items-center">
                                <input type="text" id="amount" style="color:white;background-color:black" readonly>
                                <button class="site-btn" id="filterButton" for="amount">Filter</button>
                            </p>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                        <script>

                            $(document).ready(function () {
                                $('#select').change(function () {
                                    var selectedOption = $(this).val();
                                    var products = @Html.Raw(Json.Serialize(Model)); // Replace this with your actual list of products
                                    
                                    if (selectedOption == '2') {
                                        // Sort products low to high by price
                                        products.sort(function (a, b) {
                                            return a.price - b.price;
                                        });
                                    } else if (selectedOption == '3') {
                                        // Sort products high to low by price
                                        products.sort(function (a, b) {
                                            return b.price - a.price;
                                        });
                                    }

                                    // Update the product list on the page with the sorted products
                                    updateProductList(products);
                                });
                           


                                $("#slider-range").slider({
                                    range: true,
                                    min: 0,
                                    max: 300,
                                    values: [0, 300],
                                    slide: function (event, ui) {
                                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                                    }
                                });

                                $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                                    " - $" + $("#slider-range").slider("values", 1));

                                $("#filterButton").on("click", function () {
                                    var minPrice = $("#slider-range").slider("values", 0);
                                    var maxPrice = $("#slider-range").slider("values", 1);

                                    filterProducts(minPrice, maxPrice);
                                });

                                function filterProducts(minPrice, maxPrice) {
                                    var products = @Html.Raw(Json.Serialize(Model)); // Replace this with your actual list of products
                                    //var selectedOption = $(this).val();
                                    // Filter products based on the price range
                                    
                                        var filteredProducts = products.filter(function (product) {
                                            return product.price >= minPrice && product.price <= maxPrice;
                                        });
                                   
                                    //if (selectedOption == 2)
                                    //{
                                    //    var filteredProducts = products.filter(function (product) {
                                    //        return product.price >= minPrice && product.price <= maxPrice;
                                    //    });
                                    //    filteredProducts.sort(function (a, b) {
                                    //        return a.price - b.price;
                                    //    });
                                    //}
                                    //else
                                    //{
                                    //    var filteredProducts = products.filter(function (product) {
                                    //        return product.price >= minPrice && product.price <= maxPrice;
                                    //    });

                                    //    filteredProducts.sort(function (a, b) {
                                    //        return b.price - a.price;
                                    //    });
                                    //}
                                    console.log(filteredProducts);
                                    // Call a function to update the product list on the page with the filtered products
                                    updateProductList(filteredProducts);
                                }

                                function updateProductList(filteredProducts) {
                                    // Assuming you have a container element for displaying products
                                    console.log("update");
                                    var productContainer = document.getElementById('productContainer');
                                    productContainer.innerHTML = ''; // Clear the existing product list
                                    
                                    // Loop through the filtered products and generate HTML for each product
                                    filteredProducts.forEach(function (product) {
                                        
                                        var productHtml = `
                                                                    <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                                                                                                <div class="pp__item pp__item--2 active text-center pt-20 pb-20" style="background-color:black">
                                                                                                    <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                                                                                                        <div class="cart d-flex align-items-center justify-content-center" style="background-color:black">
                                                                                                            <a href="/CartItems/Cart" style="color:white"><i class="fal fa-shopping-basket"></i></a>
                                                                                                        </div>
                                                                                                        <div class="view d-flex align-items-center justify-content-center">
                                                                                                            <button style="background-color:black" class="product-link" id="my-button" data-product-id="${product.id}">
                                                                                                                <i class="fal fa-eye" style="color:white"></i>
                                                                                                            </button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="pp__thumb pp__thumb--2 mt-35">
                                                                                                        <img src="${product.imageUrl}" alt="" width="121" height="172">
                                                                                                    </div>
                                                                                                    <div class="pp__content pp__content--2 mt-25">
                                                                                                        <div class="pp__c-top d-flex align-items-center justify-content-center">
                                                                                                            <div class="pp__cat pp__cat--2">
                                                                                                                <a href="#0" style="color:lightgray">-----------------</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <h4 class="pp__title pp__title--2">
                                                                                                            <a href="#" class="product-link" data-product-id="${product.id}" style="color:white">${product.name}</a>

                                                                                                        </h4>
                                                                                                        <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                                                                                            <h6 class="label" style="color:white">Price - </h6>
                                                                                                            <span class="price"> $${product.price} </span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                    `;

                                        // Append each product HTML to the container
                                        productContainer.insertAdjacentHTML('beforeend', productHtml);

                                    });
                                } function handleProductLinkClick(e) {
                                    e.preventDefault();
                                    var productId = $(this).data('product-id');
                                    window.location.href = '/Products/ProductDetails/' + productId;
                                }

                                // Attach the click event listener to the document body for .product-link elements
                                $(document.body).on('click', '.product-link', handleProductLinkClick);
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
    <script>
        function fields(button) {
            console.log("Hi")
            var products = @Html.Raw(Json.Serialize(Model));

            // Add a click event listener to all "eye" buttons with the class 'view-product'
            // var viewButtons = document.querySelectorAll('.view-product');
            var viewButtons = document.querySelectorAll('.view-product');

            // Get the product ID from the data-product-id attribute
            var productId = button.getAttribute('data-product-id');

            // Find the product data in the model
            var product = products.find(product => product.Id === productId) || null;

            // If the product data was found, populate the popup window with it
            if (product) {
                var popup = document.querySelector('#product-popup');

                // Set the product image
                popup.querySelector('.my_img').src = product.ImageUrl;

                // Set the product name
                popup.querySelector('.my_name').textContent = product.Name;

                popup.querySelector('.my_price').textContent = '$' + product.Price;
                // Set the product description
                popup.querySelector('.my_description').textContent = product.Description;

                var availabilityLabel = popup.querySelector('.my_inStock');

                if (product.InStock > 0) {
                    availabilityLabel.textContent = "In Stock";
                    availabilityLabel.style.color = "white";
                } else {
                    availabilityLabel.textContent = "Out of Stock";
                    availabilityLabel.style.color = "#a7a7a7";
                }
            }
        };
        const el = document.getElementById('my-button');
        if (el) {
            el.addEventListener('click', function () { fields(this); });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
